.mt50{
	margin-top: 50px;
}

.mb20{
	margin-bottom: 20px;
}

.ib{
	display: inline-block;
}

.btn-co{
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo{
	margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    display: block;
    margin-bottom: 100px;
}

h1,h2,h3,h4{
	margin-left: 20px;
}

th,td{
	text-align: center !important;
}
